*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    background-image: url("imgs/stadium.png");
    background-repeat: no-repeat;
    background-size: fit;
  }

  /* .players {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  } */

  .players{
    size: 45px;
  }

